# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (optional if you vendor)
# vendor/

# Go workspace file
go.work

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
ENV/
*.pkl
*.h5

# Local Database
*.db
*.sqlite

# OS specific
.DS_Store
Thumbs.db
